<% layout('./layouts/boilerplate') %>
    
<h1 class="title"><%= result.data.title %></h1>
<div style="display: flex;">
<% if(result.data.copyright) { %>
    <p class="cprt"><b>&copy;</b><%= result.data.copyright %></p>
<% } %>
    <p class="date"><i class="fas fa-calendar" aria-hidden="true"></i><%= result.data.date %></p>
</div>

<div class="box">
    <% if(result.data.url.endsWith(".jpg")) { %>
        <img src="<%= result.data.hdurl %>" alt="" class="img">
    <% } else { %>
        <iframe src="<%= result.data.url %>"></iframe>
    <% } %>
</div>

<p class="explanation has-text-justified"><%= result.data.explanation %></p>
